@import 'styles/variables.scss';

.navbar {
  background-color: $color-background-5dp;
  margin-bottom: 20px;
  padding: 10px 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

// TODO: move to layout.scss
.body {
  padding: 0 20px;
  padding-top: 60px;
}

@media (min-width: 1020px) {
  .body {
    max-width: 1020px;
    margin: auto;
  }

  .navbar-container {
    margin: auto;
    width: 1200px;
  }
}
